/***********************************************
                GENERAL
*************************************************/

main{
    
    width: 900px;
    margin: 50px auto;
    background-color: lightgray;

    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px, 150px,  150px,  150px,  150px;
}