#komple-genel-yapi{
    width: 898px;  
    border: 1px solid red ;
    margin: auto;
    margin-top: 25px;
}

#header-genel-yapi{
    width: 798px;
    height: 80px;
    border: 1px solid red;
    margin: auto;
    margin-top: 25px;
    text-align: center;
}



#orta-kisim-genel-yapi{
    width: 798px;
    margin: auto;
    margin-top: 25px;
    
}

#section-genel-yapi{
    width: 498px;
    border: solid 1px red;
    text-align: center;
    float: left;
    
}

.article-yapi{
    width: 398px;
    height: 200px;
    border: 1px red solid;
    margin: auto;
    margin-top: 25px;   
    margin-bottom: 25px;
    

}

#aside-genel-yapi{
    width: 273px;
    border: red solid 1px;
    text-align: center;
    float: right;
}

.aside-article-yapi{
    width: 198px;
    height: 200px;
    border: 1px red solid;
    margin: auto;
    margin-top: 25px;   
    margin-bottom: 25px;
}

#ana-footer-genel-yapi{
    width: 798px;
    height: 200px;
    border: 1px red solid;
    text-align: left;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.fieldset-yapisi{
    margin: 15px;
}