*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.timeline{
    width: 500px;
    height: 500px;
    background-color: #ccc;
    padding: 20px;
}
.card{
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 4px 5px 0 rgba(0, 0, 0, 4);
    border-radius: 5px;
    padding: 10px;
}

.svg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: blue;
    flex-shrink: 0;
}

.content{
    flex-grow: 1;
    margin-left: 20px;
    margin-right: 20px;
}

.arrow{
    width: 5px;
    height: 30px;
    background-color: #eee;
}