body{
    font-size: 1.125rem;
    color: #707070;
    margin: 0;
}


/*form minimum width of 501px and bigger*/
/*
@media (min-width: 501px){
    body{
        background: purple;
    }

}
*/

/* hangi media onde veya sonda olduguna göre görünüm sekli etkilenir. 
Kücük ekrana max-width koyularak sonrasinda olsa bile cakismasi engellenir.*/

/*from minimum width of 750px and bigger*/
/*
@media (min-width: 750px){
    body {
        background: orange;
    }
}


750px in sonrasina bu sekild yazilarak konulursa sorun olusturmaz.
@media (min-width: 501px) and (max-width:749){
    body{
        background: purple;
    }
}



daha genis ekranlar icin oriantation getiriliyor ama tam islevine bakilmali.
@media (min-width:750px) and (orientation: lanscape){
    body {
        background:orange;
    }
}
*/

h1{
    font-size: 3rem;
    color: #212614;
    text-align: center;
}

h1 span{
    color: #b7832f;

}

h2{
    font-size: 1.5rem;
}

img{
    max-width: 100%;
}

.container{
    width: 90%;
    max-width: 980px;
    margin: 0 auto;
}

.columns{
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
}

@media(max-width: 600px){
    
}

.col-1{
    width: 20%;
}

.col-2{ 
    width:45%;

}

.col-3{
    width: 70%;
}

@media(max-width: 600px){
    .columns{
        flex-direction: column;
    }
    .col {
        width: 100%;
    }
}

.col-bg{
    background: #212614;
    color:#fff;
    padding: 1em;
}