*{
    margin: 0;
}

body{
    background: #eee;
}

.container{
    width: 95%;
    background: rgb(255, 140, 140);
    margin: 0 auto;
}

.row{
    text-align: justify;
    width: 100%;
    display: block;
    margin: 2vh auto;
}

.col{
    vertical-align: top;
    display: inline-block;
    width: 30%;
    margin: 1%;
}

@media screen and (max-width:900px){
    .row{
        text-align: center;
    }
    .col{
        width: 95%;
        margin: 2vh auto;
        display: block;
    }
}

img{
    width: 100%;
    height: auto;
}