*{
    background-color: #9CD7FF;
}
.ANABASLIK{
    color:#CE482A;
}

.FOTO{
    background-color: salmon;
}

.TOPLAMSONUC{
    background-color: seagreen;
    color: seagreen;
}

p{
    text-indent: 40px;
}